<div >
    <div  style= 'row'>
        <% @db.each_with_index do |element, index| %>
            <% if index == @id.to_i %>
                <img src="<%= element[:photo].nil? ? "https://unsplash.it/600?image=1": element[:photo] %>"  class="rounded float-left" alt="..."> 
               <div class="card">
                    <div class="card-header">
                        <h2><%=element[:title]%></h2>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"></h5>
                        <p class="card-text"><%= element[:content]%></p>
                    </div>
                    <div class="card-footer text-muted"styyle= "center">
                          <%  if element[:rating]=="1" %>
                                        <a href="signup.html"><i class="fa fa-star"></i>
                                <% elsif  element[:rating]=="2" %>
                                    <a href="signup.html"><i class="fa fa-star"></i>
                                    <a href="signup.html"><i class="fa fa-star"></i>
                                <%elsif element[:rating]=="3"%>
                                    <a href="signup.html"><i class="fa fa-star"></i>
                                    <a href="signup.html"><i class="fa fa-star"></i>
                                    <a href="signup.html"><i class="fa fa-star"></i>
                                <%elsif element[:rating]=="4"%>
                                    <a href="signup.html"><i class="fa fa-star"></i>
                                    <a href="signup.html"><i class="fa fa-star"></i>
                                    <a href="signup.html"><i class="fa fa-star"></i>
                                    <a href="signup.html"><i class="fa fa-star"></i>
                                   <%elsif element[:rating]=="5"%>
                                    <a href="signup.html"><i class="fa fa-star"></i>
                                    <a href="signup.html"><i class="fa fa-star"></i>
                                    <a href="signup.html"><i class="fa fa-star"></i>
                                    <a href="signup.html"><i class="fa fa-star"></i>
                                    <a href="signup.html"><i class="fa fa-star"></i>
                                <%end%>
                    </div>
                </div>
                <% @comments.each_with_index do |cmts, index| %>
                    <%if index == @id.to_i%>
                        <%cmts.each do |cmt|%>
                        <div >
                            <h5>Comments</h5>
                            <p><%= cmt%>.</p>
                        </div>
                        <%end%>
                    <%end%>
                <% end %>
            <% end %>
        <%end%>
    <div>
</div>